<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        .modal-content {
  background-color: darkcyan;
}

.btn-link {
  color: white;
}

.modal-heading h2 {
  color: #ffffff;
}
    </style>
</head>
<body>
    <form action="" method="post">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-heading">
				<h2 class="text-center">Forgot password</h2>
			</div>
			<hr />
			<div class="modal-body">
				<form action="" role="form">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="email" class="form-control" placeholder="User Email"  name="email"/>
						</div>
					</div>
					

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg">send mail</button>
						
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
</html>