
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
     <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
     </div>
     <div class="carousel-inner">
       <div class="carousel-item active">
         <img src="https://images.pexels.com/photos/2445784/pexels-photo-2445784.jpeg?auto=compress" class="d-block w-100" style="max-height: 970px; margin-bottom: 30px;"  alt="img/img_01.jpg">      </div>
       

       <div class="carousel-item">
         <img src="https://images.pexels.com/photos/17131288/pexels-photo-17131288/free-photo-of-antelope-canyon-paths.jpeg?auto=compress" class="d-block w-100" style="max-height: 970px; margin-bottom: 30px;"  alt="img/"   >   </div>
       

       <div class="carousel-item">
         <img src="https://images.pexels.com/photos/2419320/pexels-photo-2419320.jpeg?auto=compress" class="d-block w-100" style="max-height: 970px; margin-bottom: 30px;"  alt="img/"  >     </div>
        

        <div class="carousel-item">
        <img src="https://images.pexels.com/photos/3867366/pexels-photo-3867366.jpeg?auto=compress" class="d-block w-100" style="max-height: 970px; margin-bottom: 30px;"  alt="img/"  >     </div>

        <div class="carousel-item">
        <img src="https://images.pexels.com/photos/4599691/pexels-photo-4599691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" style="max-height: 970px; margin-bottom: 30px;"  alt="img/"  >     </div>

     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>
 </div>
