<%- include('../common/doc_prof_header.ejs') %>
<div style="padding: 20px; display: grid;justify-content: end; align-items: end;"><a href="http://127.0.0.1:3030" style="text-decoration: none; margin: 20px;    top: -230px;
  position: relative;
  z-index: 100;"> <button type="button" class="btn btn-outline-primary">host a meetimg</button></a> </div>
<div style="border-top: 30px;"></div>
<div class=" container">
  <%- include('../common/fetchable_booking.ejs') %>
</div>

<%- include('../common/footer.ejs') %>