<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Dept_ID</th>
            <th scope="col">Department's Name</th>
            
           
         
          </tr>
        </thead>
        <tbody>
          <% if(data.length){
         
          for(var i = 0; i< data.length; i++) {%>  
          <tr>
            <th scope="row"><%= data[i].dept_id %></th>
            <td><%= data[i].dept_name%></td>
           
           
            <td>
            <a class="btn btn-success edit" href="">Edit</a>                                            
           </td>
          </tr>
          <% }
                   
           }else{ %>
               <tr>
                  <td colspan="3">No user</td>
               </tr>
            <% } %>    
          <tr colspan="7"> <a href="/admin/addDepartment" class="btn btn-success edit">Add +</a></tr>
        </tbody>
        </table>
    
      </div>