<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">admin_id</th>
            <th scope="col">Admin's Name</th>
            <th scope="col">Role</th>
       
           
         
          </tr>
        </thead>
        <tbody>
          <% if(data.length){
         
          for(var i = 0; i< data.length; i++) {%>  
          <tr>
            <th scope="row"><%= data[i].admin_id %></th>
            <td><%= data[i].Admin_name%></td>
            <td><%= data[i].role %></td>
          
            <td>
            <a class="btn btn-success edit" href="">Edit</a>                                            
           </td>
          </tr>
          <% }
                   
           }else{ %>
               <tr>
                  <td colspan="3">No user</td>
               </tr>
            <% } %>    
          <tr colspan="7"> <a href="/admin/addceo" class="btn btn-success edit">Add +</a></tr>
        </tbody>
        </table>
    
      </div>